/* Body */

body {
/*    background-color: #231F20; */
}

* {
    font-family: 'Fira Sans', sans-serif;
}
/* Banner */
.logobox {
    width: 40%;
    text-align: center;
}

.logo {
    width: 10%;
}

.banner {
    width: 20%;
    top: 0;
    align-content: center;
    z-index: 1;
}

.bannerbox {
    text-align: center;
    margin-top: -90px;
}

.navbar {
    background-color: #231F20; 
    color: white;
    margin-top: -550px;
    padding-top: 120px;
    top: 0;
    height: 150px;
    width: 100%;
}

/* List Items */

.leftsidenav li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 3em;
    padding-left: 60px;
    padding-top: 20px;
}

.leftsidenav a:link, a:visited {
    text-decoration: none;
    color: white;
}
.leftsidenav li:hover {
    text-decoration: underline;
}

/* Sliding Advertisement */

.advert {
    background: url(../IMG/dog2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: -150px;
}

.advert p {
    color: white;
    font-size: 100pt;
    text-shadow: 2px 2px 2px black;
    padding-top: 300px;
    text-align: center;
}

.advert2 {
    background: url(../IMG/ruthiedestiny.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: -150px;
}

.advert2 p {
    color: white;
    font-size: 100pt;
    text-shadow: 2px 2px 2px black;
    padding-top: 300px;
    text-align: center;
}

.advert3 {
    background: url(../IMG/peanutbutter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: -150px;
}

.advert3 p {
    color: white;
    font-size: 100pt;
    text-shadow: 2px 2px 2px black;
    padding-top: 300px;
    text-align: center;
}


/* About Page */

.description {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
}

.description h1 {
    font-size: 40pt;
}

.description p {
    background-color: rgba(10, 10, 10, .10);
    padding: 100px 50px 100px 50px;
    border-radius: 25%;
}
/* Footer */

.footer {
    background-color: #30A6C6;
    color: #231F20;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-left: -10px;
}

/* Media Queries */

@media all and (max-width: 780px) {

.bannerbox {
    text-align: left;
    margin-top: -20px;
    margin-left: 20px;
}

.navbar {
    background-color: #231F20; 
    color: white;
    margin-top: -350px;
    padding-top: 120px;
    top: 0;
    height: 150px;
    width: 100%;
}
    .leftsidenav li {
        font-size: .5em;
        text-align: right;
        margin-top: 2px;
    }
}
